<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="450px">
      <template v-slot:activator="{ on }">
        <v-btn color="primary" :disabled="!isnotifiable" v-on="on"
          >Notify</v-btn
        >
      </template>
      <v-card>
        <v-card-title primary-title class="justify-center">
          <span class="headline">📲 Notify</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-col>
              <v-row>
                <v-text-field
                  type="text"
                  label="Title*"
                  v-model="title"
                  hint="The notification title"
                  required
                ></v-text-field>
              </v-row>
              <v-row>
                <v-text-field
                  label="Body*"
                  type="text"
                  v-model="body"
                  hint="The notification body"
                ></v-text-field>
              </v-row>
              <v-row>
                <v-select
                  :items="['DESKTOP', 'MOBILE', '']"
                  v-model="preferedDevice"
                  label="Prefered device"
                ></v-select>
              </v-row>
            </v-col>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false"
            >Close</v-btn
          >
          <v-btn v-if="!isloading" color="blue darken-1" text @click="notif"
            >Send</v-btn
          >
          <v-progress-circular
            v-if="isloading"
            color="success"
            indeterminate
          ></v-progress-circular>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar :timeout="8000" top left v-model="snackbar">
      {{ notifresponse }}
      <v-btn color="primary" text @click="snackbar = false">
        Close
      </v-btn>
    </v-snackbar>
  </v-row>
</template>
<script lang="ts">
import Vue from "vue";
import GraphQLAPI from "../graphql_api";
export default Vue.extend({
  props: {
    isnotifiable: Boolean,
    toNotify: String
  },
  data: () => ({
    body: null,
    title: null,
    dialog: false,
    snackbar: false,
    isloading: false,
    notifresponse: null,
    preferedDevice: null
  }),
  methods: {
    notif: async function() {
      if (!this.$data.title || !this.$data.body) return;
      this.$data.isloading = true;
      const api = GraphQLAPI.getInstance();
      const notifresp = await api.notify(
        this.$props.toNotify,
        this.$data.title,
        this.$data.body
      );
      console.log(notifresp);
      this.$data.isloading = false;
      if (notifresp && notifresp.devices != null) {
        const m = `Sent ${notifresp.sent} notification(s) to ${this.$props.toNotify} on ${notifresp.devices.length} device(s)`;
        this.$data.notifresponse = m;
      } else {
        this.$data.notifresponse =
          "Failed to send notification, user has no compactible device";
      }
      this.$data.snackbar = true;
    }
  }
});
</script>
