<template>
  <v-container fill-height>
    <v-col>
      <ApolloQuery
        :query="
          gql => gql`
            query offers {
              rentOffers {
                id
                title {
                  text
                }
                area {
                  value
                }
                price {
                  value
                }
                createdBy {
                  name
                }
                sourceURL
              }
            }
          `
        "
      >
        <template v-slot="{ result: { loading, error, data } }">
          <!-- Loading -->
          <div v-if="loading" class="loading apollo">
            <v-text-field color="success" loading disabled></v-text-field>
          </div>

          <!-- Error -->
          <div v-else-if="error" class="error apollo">An error occurred</div>

          <!-- Result -->
          <div v-else-if="data" class="result apollo">
            <v-data-table
              :headers="headers"
              :items="data.rentOffers"
              :items-per-page="5"
              class="elevation-1"
              @click:row="handleClick"
            ></v-data-table>
          </div>

          <!-- No result -->
          <div v-else class="no-result apollo">No result :(</div>
        </template>
      </ApolloQuery>
    </v-col>
  </v-container>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "OffersList",
  data: () => ({
    name: "",
    headers: [
      {
        text: "Id",
        align: "center",
        sortable: false,
        value: "id"
      },
      { text: "Title", value: "title[0].text" },
      { text: "Area (m²)", value: "area.value" },
      { text: "Price (€)", value: "price[0].value" },
      { text: "CreatedBy", value: "createdBy.name" },
      { text: "Source", value: "sourceURL" }
    ]
  }),
  methods: {
    // eslint-disable-next-line
    handleClick: function(value: any) {
      this.$data.name = value.name;
    }
  },
  inject: ["theme"]
});
</script>
