<template>
  <v-col align="center" justify="center">
    <v-input
      v-if="token == null"
      style="width: 80vw;"
      append-icon="close"
      prepend-icon="home"
    >
      <v-text-field
        v-model="username"
        type="text"
        label="Enter admin username"
      ></v-text-field>
    </v-input>
    <v-input
      v-if="token == null"
      style="width: 80vw;"
      append-icon="close"
      prepend-icon="lock"
    >
      <v-text-field
        v-model="password"
        type="password"
        v-on:keyup.enter="getToken"
        label="Enter admin password"
      ></v-text-field>
    </v-input>
    <div class="msgbox" id="msg">
      <div style="text-align: right;position: fixed;left:86%">
        <v-btn @click="clear" color="grey" fab small dark>
          <v-icon>delete</v-icon>
        </v-btn>
      </div>
      <div
        style="color: white;margin-left: 15px;"
        v-for="(message, index) in messages"
        :key="index"
      >
        <b>{{
          message.data.author.charAt(0).toUpperCase() +
            message.data.author.slice(1)
        }}</b>
        {{ message.time }} :
        <p>
          >
          <code>{{
            message.data.message || message.data.result || message.data.error
          }}</code>
        </p>
      </div>
    </div>
    <v-row
      class="text-center mr-12 ml-12"
      style="width: 80vw;"
      justify="space-around"
    >
      <v-btn class="ma-2" :loading="loading" color="secondary" @click="connect">
        Ping
      </v-btn>

      <v-select
        v-model="page"
        :items="[1, 2, 3, 4]"
        label="Page to scrap"
        solo
      ></v-select>

      <v-select
        v-model="target"
        :items="['LBC', 'SELOGER', 'PAP']"
        label="Target to scrap"
        solo
      ></v-select>

      <v-btn class="ma-2" :loading="loading" color="success" @click="scrapp">
        Scrapp
      </v-btn>
    </v-row>
  </v-col>
</template>

<script lang="ts">
import Vue from "vue";
import RentyGraphQLAPI from "../graphql_api";
import ScrapperAPI from "../scrapper_api";
export default Vue.extend({
  name: "ScrapperControl",
  mounted: function() {
    const token = localStorage.getItem("gql-token");
    if (token !== null) {
      this.$data.token = token;
    }
  },
  beforeDestroy: function() {
    if (this.$data.socket !== null) {
      this.$data.socket.close();
    }
  },
  data: () => ({
    page: 1,
    target: "LBC",
    socket: null,
    loading: false,
    token: null,
    username: null,
    password: null,
    messages: []
  }),
  methods: {
    clear: function() {
      this.$data.messages = [];
    },
    getToken: async function() {
      const api = RentyGraphQLAPI.getInstance();
      const res = await api.login(this.$data.username, this.$data.password);
      if (res != null) {
        this.$data.token = res;
        localStorage.setItem("gql-token", this.$data.token);
      } else {
        console.log("Error bad id or password");
      }
    },
    connect: function() {
      this.$data.loading = true;
      const scrapper = ScrapperAPI.getInstance();
      const socket = scrapper.getSocket();
      socket.onopen = () => {
        this.$data.messages.push({
          data: { message: "/ping", author: "You" },
          time: `${new Date().getHours()} h ${new Date().getMinutes()}`
        });
        socket.send(
          JSON.stringify({
            authorization: this.$data.token,
            command: "/ping"
          })
        );
      };
      socket.onmessage = event => {
        const message = event.data;
        const messageJson = JSON.parse(message);
        if (messageJson) {
          this.$data.messages.push({
            data: messageJson,
            time: `${new Date().getHours()} h ${new Date().getMinutes()}`
          });
        }
        this.$data.loading = false;
      };
      this.$data.socket = socket;
    },
    scrapp: function() {
      const command = `/run ${this.$data.target} ${this.$data.page}`;
      this.$data.messages.push({
        data: { message: command, author: "You" },
        time: `${new Date().getHours()} h ${new Date().getMinutes()}`
      });
      const fmt = {
        authorization: this.$data.token,
        command
      };
      this.$data.socket.send(JSON.stringify(fmt));
    }
  },
  inject: ["theme"]
});
</script>
<style>
.msgbox {
  height: 80vh;
  width: 80vw;
  overflow-y: auto;
  text-align: left;
  background-color: black;
}
</style>
