<template>
  <v-container fill-height fill-width fluid>
    <v-row align="center" justify="center">
      <v-col cols="6">
        <v-input append-icon="close" prepend-icon="lock">
          <v-text-field
            v-on:keyup.enter="saveToken"
            v-model="text"
            label="Enter admin token"
          ></v-text-field>
        </v-input>
        <v-row align="center" justify="center">
          <v-btn
            fab
            dark
            large
            v-bind:color="issubmit == false ? 'primary' : 'success'"
          >
            <v-icon dark>face</v-icon>
          </v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { onLogin } from "../vue-apollo";

export default Vue.extend({
  name: "SetToken",

  data: () => ({
    text: "",
    issubmit: false
  }),
  methods: {
    saveToken: function() {
      onLogin(this.$apollo.provider.defaultClient, this.$data.text)
        .then(r => {
          console.log(r);
          this.$data.issubmit = true;
          this.$router.push("/dashboard");
        })
        .catch(err => console.error(err));
    }
  }
});
</script>
