<template>
  <v-container fill-height>
    <v-col>
      <ApolloQuery
        :pollInterval="3000"
        :query="
          gql => gql`
            query user($name: String!) {
              user(where: { name: $name }) {
                id
                role
                name
                totp
                email {
                  value
                  verified
                }
                phone {
                  value
                  verified
                }
                devices {
                  deviceType
                  notificationID
                }
                createdAt
                updatedAt
              }
            }
          `
        "
        :variables="{ name }"
      >
        <template v-slot="{ result: { loading, error, data } }">
          <!-- Loading -->
          <div v-if="loading" class="loading apollo">Loading...</div>

          <!-- Error -->
          <div v-else-if="error" class="error apollo">
            {{ error.message.replace("GraphQL error:", "⚠️ ") }}
          </div>

          <!-- Result -->
          <div v-else-if="data && data.user" class="result apollo">
            <v-card class="mx-auto" max-width="344" outlined>
              <v-list-item three-line>
                <v-list-item-content>
                  <div class="overline mb-4">
                    {{ getEmoji(data.user.role) + data.user.role }}
                  </div>
                  <v-list-item-title class="headline mb-1">{{
                    data.user.name
                  }}</v-list-item-title>
                  <v-list-item-subtitle
                    >Has 2FA :
                    {{
                      data.user.totp && data.user.totp !== "" ? "true" : "false"
                    }}</v-list-item-subtitle
                  >
                  <v-list-item-subtitle
                    >Email :
                    {{
                      data.user.email != null ? data.user.email.value : "x"
                    }}</v-list-item-subtitle
                  >
                  <v-list-item-subtitle
                    >Phone :
                    {{
                      data.user.phone != null && data.user.phone.value
                        ? data.user.phone.value
                        : "x"
                    }}</v-list-item-subtitle
                  >
                  <v-list-item-subtitle
                    >Devices :
                    {{
                      data.user.devices != null && data.user.devices.length
                        ? data.user.devices[0].deviceType
                        : "x"
                    }}</v-list-item-subtitle
                  >
                  <v-list-item-subtitle
                    >Registered at :
                    {{ data.user.createdAt }}</v-list-item-subtitle
                  >
                  <v-list-item-subtitle
                    >Updated at :
                    {{ data.user.updatedAt }}</v-list-item-subtitle
                  >
                </v-list-item-content>

                <v-list-item-avatar
                  tile
                  size="100"
                  color="grey"
                ></v-list-item-avatar>
              </v-list-item>

              <v-card-actions>
                <NotifyDialog
                  :isnotifiable="
                    data.user.devices != null && data.user.devices.length > 0
                  "
                  :toNotify="data.user.name"
                />
                <v-btn color="danger" text>Delete</v-btn>
              </v-card-actions>
            </v-card>
          </div>

          <!-- No result -->
          <div v-else class="no-result apollo">
            <v-sheet
              :color="`grey ${theme.isDark ? 'darken-2' : 'lighten-4'}`"
              class="px-3 pt-3 pb-3"
            >
              <v-skeleton-loader
                class="mx-auto"
                max-width="300"
                type="card"
              ></v-skeleton-loader>
            </v-sheet>
          </div>
        </template>
      </ApolloQuery>
    </v-col>
    <v-col>
      <ApolloQuery
        :pollInterval="3200"
        :query="
          gql => gql`
            query users {
              users {
                id
                role
                name
              }
            }
          `
        "
      >
        <template v-slot="{ result: { loading, error, data } }">
          <!-- Loading -->
          <div v-if="loading" class="loading apollo">
            <v-text-field color="success" loading disabled></v-text-field>
          </div>

          <!-- Error -->
          <div v-else-if="error" class="error apollo">An error occurred</div>

          <!-- Result -->
          <div v-else-if="data" class="result apollo">
            <v-data-table
              :headers="headers"
              :items="data.users"
              :items-per-page="5"
              class="elevation-1"
              @click:row="handleClick"
            ></v-data-table>
          </div>

          <!-- No result -->
          <div v-else class="no-result apollo">No result :(</div>
        </template>
      </ApolloQuery>
    </v-col>
  </v-container>
</template>
<script lang="ts">
import Vue from "vue";
import NotifyDialog from "./NotifyDialog.vue";
export default Vue.extend({
  name: "UsersList",
  components: {
    NotifyDialog
  },
  data: () => ({
    name: "",
    headers: [
      {
        text: "Id",
        align: "center",
        sortable: false,
        value: "id"
      },
      { text: "Role", value: "role" },
      { text: "Name", value: "name" }
    ]
  }),
  methods: {
    // eslint-disable-next-line
    handleClick: function(value: any) {
      this.$data.name = value.name;
    },
    getEmoji: function(role: string) {
      switch (role) {
        case "ADMIN":
          return "👮🏽";
        case "USER":
          return "🧝";
        default:
          return "";
      }
    }
  },
  inject: ["theme"]
});
</script>
