<script>
  import Map from "../components/Map.svelte";
  import OffersList from "../components/OffersList.svelte";
</script>

<section>
  <div class="columns is-mobile">
    <div class="column">
      <Map />
    </div>
    <div class="column">
      <OffersList />
    </div>
  </div>
</section>
