<template>
  <v-app>
    <v-app-bar app color="secondary" dark>
      <a href="/" class="d-flex align-center">
        <v-img
          alt="Renty Logo"
          contain
          src="img/logo.png"
          transition="scale-transition"
          width="50"
        />
      </a>

      <v-spacer></v-spacer>

      <div v-if="!islogged">
        <v-btn to="/" text>
          <span class="mr-2">Login</span>
          <v-icon>mdi-open-in-new</v-icon>
        </v-btn>
      </div>
      <div v-else>
        <v-btn to="/dashboard" text>
          <span class="mr-2">Dashboard</span>
          <v-icon>mdi-open</v-icon>
        </v-btn>
        <v-btn to="/scrapper" text>
          <span class="mr-2">Scrapper</span>
          <v-icon>mdi-open</v-icon>
        </v-btn>
        <v-btn v-on:click="logout" text>
          <span class="mr-2">Logout</span>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
    </v-app-bar>

    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "App",
  methods: {
    logout: function() {
      localStorage.clear();
      this.$data.islogged = false;
      this.$router.push("/");
    }
  },
  data: () => ({
    islogged: false
  }),
  mounted: function() {
    document.title = "Renty | Admin";
    if (localStorage.getItem("apollo-token")) {
      this.$data.islogged = true;
      this.$router.push("/dashboard");
    }
  },
  watch: {
    $route: function(value) {
      if (value.name === "Dashboard" || value.name == "Scrapper") {
        this.$data.islogged = true;
      }
    }
  }
});
</script>
