<template>
  <v-row>
    <UsersList />
    <OffersList />
  </v-row>
</template>

<script>
import UsersList from "@/components/UsersList.vue";
import OffersList from "@/components/OffersList.vue";
export default {
  name: "Dashboard",
  components: {
    UsersList,
    OffersList
  }
};
</script>
