<template>
  <v-container fill-height fill-width fluid>
    <SetToken />
  </v-container>
</template>

<script>
// @ is an alias to /src
import SetToken from "@/components/SetToken.vue";

export default {
  name: "Home",
  components: {
    SetToken
  }
};
</script>
