<template>
  <v-row>
    <ScrapperControl />
  </v-row>
</template>

<script>
import ScrapperControl from "@/components/ScrapperControl.vue";
export default {
  name: "Scrapper",
  components: {
    ScrapperControl
  }
};
</script>
