<script>
  import { onMount } from "svelte";
  import client from "../apollo_client.js";
  import { gql } from "apollo-boost";
  let isloading = true;

  const RENTOFFERS = gql`
    query {
      offers {
        title {
          text
        }
        location {
          latitude
          longitude
        }
      }
    }
  `;

  onMount(() => {
    var mymap = L.map("offersMap", { zoomControl: false }).setView(
      [44.8333, -0.5667],
      13
    );
    var token =
      "pk.eyJ1IjoiZGF2ZS1sb3BldXIiLCJhIjoiY2s2dzVkMTl2MDhlOTNlcXZ1N2o5eHNkNiJ9.6nm9cmaZzJU85LTjo0oR6Q";
    L.tileLayer(
      "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=" +
        token,
      {
        maxZoom: 18,
        attribution:
          'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
          '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1
      }
    ).addTo(mymap);
    client
      .query({
        query: RENTOFFERS
      })
      .then(r => {
        for (let el = 0; el < r.data.offers.length; ++el) {
          const offer = r.data.offers[el];
          let marker = new L.marker([
            offer.location.longitude,
            offer.location.latitude
          ])
            .bindPopup(offer.title[0].text)
            .addTo(mymap);
        }
        isloading = false;
      });
  });
</script>

<style>
  #offersMap {
    height: 100vh;
    width: 100%;
  }
</style>

{#if isloading}
  <progress
    style="margin-top: 10px;"
    class="progress is-small is-primary"
    max="100">
    35%
  </progress>
{/if}
<div id="offersMap" />
