<script>
  import client from "../apollo_client.js";
  import { onMount } from "svelte";
  import { gql } from "apollo-boost";

  const RentOffers = gql`
    query {
      offers {
        area {
          unit
          value
        }
        price {
          curr
          value
        }
        title {
          text
        }
        assets {
          url
        }
      }
    }
  `;
  const RentOffersQuery = client.watchQuery({
    query: RentOffers
  });
  onMount(() => {
    RentOffersQuery.refetch();
    RentOffersQuery.startPolling(10000);
  });
</script>

<div class="column">
  {#await $RentOffersQuery}
    <span class="icon">
      <i class="fas fa-spinner fa-spin is-primary" />
    </span>
  {:then results}
    {#if results}
      <!-- <h5>{JSON.stringify(results)}</h5> -->
      <div class="list" style="max-height: 90vh;overflow-y: scroll">
        {#each results.data.offers as offer}
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src={offer.assets.length && offer.assets[0].url || "https://bulma.io/images/placeholders/128x128.png"} alt="Image" />
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{offer.title[0].text}</strong>
                    <small>{offer.price[0].value}</small>
                    <small>{offer.price[0].curr}</small>
                    <br />
                    {(offer.description && offer.description.text) || '...'}
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a href="/" class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fas fa-reply" aria-hidden="true" />
                      </span>
                    </a>
                    <a href="/" class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fas fa-retweet" aria-hidden="true" />
                      </span>
                    </a>
                    <a href="/" class="level-item" aria-label="like">
                      <span class="icon is-small">
                        <i class="fas fa-heart" aria-hidden="true" />
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        {/each}
      </div>
    {/if}
  {/await}
</div>
